body {
    background-color: rgb(167, 152, 140);
}
img {
    border-radius: 45px;
  }
/* mouse over link */
a:hover {
    color: rgb(255, 249, 159)
}

  a {
    color: rgb(255, 196, 141)
  }
  a:link {
    text-decoration: none;
  }
  a:link{
    font-weight: bold;
  }
  ul li{
    list-style-type: none;
  }